@import "../../variables/colors.css";
@import "../../mixins.scss";

.ChatPage {
    height: 90vh;
    display: flex;
    flex-direction: column;

    .MuiSvgIcon-root{
        cursor: pointer;
    }

    @include for-mobile {
        flex: 1;
        height: auto;
    }

    .loader {
        position: fixed;
        top: calc(50% - 20px);
        left: calc(50% - 20px);
    }

    .header {
        background-color: var(--color-main-white);
        padding: 24px 32px;
        box-sizing: border-box;
        border-bottom: 1px solid var(--color-main-lightGray);
        margin-top: 26px;

        @include for-mobile {
            margin-top: 0px;
        }

        @include for-old-mobile {
            padding: 10px;
        }

        .title {
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;

            @include for-mobile {
                font-size: 18px;
                line-height: 22px;
            }
        }

        .description {
            font-size: 16px;
            line-height: 24px;
            color: var(--color-main-gray);
            
            @include for-mobile {
                font-size: 12px;
                line-height: 16px;
            }
        }
    }

    .buttonsPanel {
        height: 40px;

        @include for-mobile {
            display: none;
        }

        button {
            margin-right: 24px;
            position: relative;

            @include for-mobile {
                width: 98%;
                margin-right: 0px;
            }

            @include for-old-mobile {
                width: 94%;
            }

            &.back {
                position: absolute;
                right: 0;

                @include for-mobile {
                    display: none;
                }
            }
        }
    }

    .container {
        height: 100%;
        display: grid;
        grid-template-rows: auto min-content;
        gap: 6px;

        .messagesContainer {
            overflow-y: scroll;

            .row {
                display: flex;
                align-items: center;

                &.income {
                    justify-content: flex-start;
                }

                &.outcome {
                    justify-content: flex-end;
                }

                .message {
                    padding: 14px 20px;
                    display: flex;
                    flex-direction: column;
                    max-width: 70%;
                    width: max-content;
                    margin: 4px 0px;
                    border-radius: 8px;
                    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.08);

                    @include for-mobile {
                        padding: 10px 6px;
                    }

                    &.income {
                        background-color: var(--color-msg-income-bg);
                    }

                    &.outcome {
                        background-color: var(--color-msg-outcome-bg);
                    }

                    .messageHeader {
                        display: flex;
                        flex-direction: row;
                        gap: 10px;
                        align-items: center;
                        margin-bottom: 10px;

                        @include for-mobile {
                            gap: 4px;
                            font-size: 11px;
                        }

                        

                        .from {
                            font-weight: 600;
                        }

                        .dot {
                            width: 4px;
                            height: 4px;
                            background-color: var(--color-main-gray);
                            border-radius: 2px;

                            @include for-mobile {
                                display: none   ;
                            }
                        }

                        .date {
                            font-size: 14px;
                            color: var(--color-main-gray);

                            @include for-mobile {
                                width: 73px;
                                font-size: 11px;
                            }
                        }
                    

                        .replay {
                            color: var(--color-main-gray);
                            cursor: pointer;

                            &:hover {
                                color: var(--color-main-text);
                            }
                        }
                    }
                    .errorMsg{
                        font-size: 12px;
                        color: red !important;
                        display: flex;
                justify-content:right;
                    } 
                    .text {
                        
                    }



                }

                .avatar {
                    width: 50px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 25px;
                    
                    &.income {
                        background-color: var(--color-avatar1-bg);
                        color: var(--color-main-green);
                        margin-right: 10px;
                    }

                    &.outcome {
                        background-color: var(--color-avatar2-bg);
                        color: var(--color-main-gold);
                        margin-left: 10px;
                        margin-right: 4px;
                    }
                }
            }
        }

        .wysiwygContainer {
            position: relative;
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.08);
            border-radius: 8px;
            background: #FFF;
            padding: 14px;
            box-sizing: border-box;
            display: block;

            .hide {
                display: none;
            }

            .wysiwygWrapper {
                display: flex;
                flex-direction: column-reverse;

                .wysiwyEditor {
                    background: var(--color-main-white);
                    box-sizing: border-box;
                    padding: 4px 10px;
                    max-height: 124px;

                }

                .wysiwygToolbar {
                    border: none;
                    border-radius: 0;
                    margin: 0;
                    
                    .rdw-option-wrapper {
                        border-radius: 4px;
                        border: 0px;
                    }
                }
            }

            .rdw-emoji-wrapper {
                position: absolute;
                right: 0px;
                margin-right: 70px;

                .rdw-emoji-modal {
                    top: auto;
                    bottom: 0;
                    left: auto;
                    right: 0;
                    width: 700px;
                }
            }

            .public-DraftStyleDefault-block {
                margin: 4px 0px;
            }

            .public-DraftEditor-content {
                height: 44px;
            }

            .send {
                position: absolute;
                bottom: 0px;
                right: 0px;
                margin-right: 22px;
                margin-bottom: 23px;
                width: 22px;
                cursor: pointer;

                &:hover {
                    path {
                        fill: var(--color-main-gold);
                    }
                }
            }
        }
    }
}