
.postsBlock{
  width: 100%;
}
.a{
  color: blue;
}
.image{
  width: 100%;
  padding: 10px 0 20px 0px;
}
.title {
  font-weight: 400 !important;
  letter-spacing: -0.1px;
  font-size: 22px !important;
  width: 100%;
}
